@model MeyawoPortfolio.Models.TblContact
<section class="section" id="contact">
    <div class="container text-center">
        <p class="section-subtitle">Nasıl iletişim Kurabilirsiniz?</p>
        <h6 class="section-title mb-5">Benimle iletişime Geç</h6>
        <!-- contact form -->

        @using (Html.BeginForm("CreateContact", "Contact", FormMethod.Post))
        {
            <div class="form-row">
                <div class="form-group col-sm-6">
                    @Html.TextBoxFor(x => x.NameSurname, new { @class = "form-control", placeholder = "Adınız ve Soyadınız", size = "50", required = "required" })

                </div>
                <div class="form-group col-sm-6">
                    @Html.TextBoxFor(x => x.email, new { @class = "form-control", placeholder = "Email Adresiniz", required = "required" })

                </div>
                <div class="form-group col-sm-12">
                    @Html.TextAreaFor(x => x.Message, 7, 3, new { @class = "form-control", placeholder = "Bana Birşeyler Yazın.", required = "required" })

                </div>
                <div class="form-group col-sm-12 mt-3">
                    <button type="submit" class="btn btn-outline-primary rounded">Gönder</button>
                </div>
            </div>
        }

    </div><!-- end of container -->
</section>




