@model MeyawoPortfolio.Models.TblFuture
@{
    ViewBag.Title = "CreateFuture";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}


<form method="post">
    <label> Ana Başlık</label>
    @Html.TextBoxFor(x => x.Header, new { @class = "table table-bordered" })
    <br />
    <label>  Ad Soyad</label>
    @Html.TextBoxFor(x => x.NameSurname, new { @class = "table table-bordered" })
    <br />
    <label> Başlık</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "table table-bordered" })
    <br />
    <button class="btn btn-info">Özelliği Kaydet</button>
</form>

