@model MeyawoPortfolio.Models.TblEducation
@{
    ViewBag.Title = "CreateEducation";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}


<form method="post">
    <label> Okul Adı</label>
    @Html.TextBoxFor(x => x.OkulAdı, new { @class = "table table-bordered" })
    <br />
    <label> Bölümü</label>
    @Html.TextBoxFor(x => x.Bölüm, new { @class = "table table-bordered" })

    <button class="btn btn-info">Eğitim Hayatını Kaydet</button>
</form>
